{% extends 'first/layout.html' %}
 {% block title %}
 <title>점수</title>
 {% endblock %}
 
 {% block content %}
 <form action="{% url 'first:scores_add' %}" method="post">
    {% csrf_token %}
    <div>이름<input name="name" type="text"/></div>
    <div>수학<input name="math" type="text"/></div>
    <div>과학<input name="science" type="text"/></div>
    <div>영어<input name="english" type="text"/></div>
    <div><input type="submit" value="등록"/></div>
</form>


 <table>
 <thead>
    <tr>
        <td>이름</td><td>수학</td><td>과학</td><td>영어</td>
    </tr>
</thead>
{% for score in scores %}
    <tr>
        <td>{{ score.name }}</td>
        <td>{{ score.math }}</td>
        <td>{{ score.science }}</td>
        <td>{{ score.english }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}