{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
Favorite
{% endblock %}

{% block content %}
<h3>
    {{ detail.name }}
    <img src="{% static 'second/icon_delete.png' %}"/>
    <img src="{% static 'second/icon_modify.png' %}"/>
</h3>
<div id="detail">
<ul>
    <li><span>SEQ</span>{{ detail.seq }}</li>
    <li><span>명칭</span>{{ detail.name }}</li>
    <li><span>URL</span>{{ detail.url }}</li>
    <li><span>메모</span>{{ detail.memo }}</li>
    <li><span>등록일</span>{{ detail.reg_date }}</li>
    <li><span>그룹</span>{{ detail.group }}</li>
</ul>
</div>
{% endblock %}