{% extends 'second/layout.html' %}
{% load static %}

{% block title %}
즐겨찾기
{% endblock %}

{% block content %}
<h3>
즐겨찾기
<a href = "{% url 'second:favourite_register' %}"><img src="{% static 'second/icon_add.png' %}"/></a>
</h3>
<div>
{% for data in datas %}
    <div class="item">
        <div class="name">
            <a href="{% url 'second:favourite_detail' data.seq %}">{{ data.name }}</a>
        </div>
        <div class="group">
            {{ data.group }}
            <div id="more">     
                <img src="{% static 'second/icon_more.png' %}" />
                    <div class="popup">
                        <div onClick="favourite_detail('{{favourite.seq}}')">삭제</div>
                    </div>
            </div>
        </div>
        <div class="regdate">
            {{ data.reg_date|date:"Y-m-d" }}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

